<h1>{{title}}</h1>


<p>Api End Points</p>
<hr />
<h2>Users</h2>
<ul>
    <li>
      find All Users:- get API-  <b>http://localhost:3000/users</b> 
    </li>
    <li>
      find user:- get API-  <b>http://localhost:3000/users/id</b> 
    </li>
     <li>
      add user:- post API-  <b>http://localhost:3000/users</b> 
    </li>
</ul>

<hr />
